{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"href="{% static 'tech/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link
      href="https://fonts.googleapis.com/css?family=Oswald:700|Poppins"
      rel="stylesheet"
    />
    <title>Tech News</title>
</head>
<body>
  <div class="cursor"></div>
    <div class="navbar">
        <div class="container flex">
          <div class="logos flex">
            <img class="img-logo" src="{%static 'tech/logo.png'%}" alt="">
          </div>
          <div class="nav-items">
            <nav>
              <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:sign_up' %}">Sign Up</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <section class="home">
          <aside class="side-section">
              <div class="side-items">
                <h3>Popular Tags</h3>
                    <p>#js</p>
                    <p>#python</p>
                    <p>#ml</p>
              </div>
          </aside>
          <main>
              <div class="python-code">
              <p><span class="if">if</span><span class="statement"> "Syntax error" :</span></p>
              <p class="print"> <span class="orange">print</span> ("Learn more.")</p>
              <p class="elif"> <span class="if"> elif </span> <span class="statement">"Compilation error" :</span> </p>
              <p class="print"> <span class="orange">print</span> ("Code more.")</p>
              <p class="if else">else :</p>
              <p class="print"> <span class="orange">print</span> ("Do more.")</p>
            </div>
            <div class="explore">
              <h1>Explore.</h1>
            </div>
          </main>
      </section>
      
      <div class="home-posts">
        <ul class="post-lists">
          {% for q in popular_news%}
                      <li class="post">
                      <a class="post-title" href="{% url 'tech:detail' %}?title={{ q.news_title }}">                              
                        <h3 class="text-title">{{ q.news_title}}</h3>
                        <small>#{{q.news_genre}}</small>
                      </a>
                        <img width="250" height="300" class="post-cover" src="{{q.news_link}}" alt="cover" >
                        <p class="post-news">{{ q.news_plot }}</p>
                        
                      </li>
                  {% endfor %}
        </ul>
      </div>
      <footer>
        <h3 id="about">About Us</h3>
        <h1>We are Developers.</h1>
        <h3>Get in touch</h3><br>
      
        <small>  Email: <strong>suhasbdvt6@gmail.com</strong></small>
        

      </footer>
      <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    
</body>
</html>